@import 'reset';
@import 'colors';
@import 'fonts';
@import 'chromeapp';

body {
	background: $not-white;
	font-family: 'latoregular', sans;
	font-size: 1.2em;

	hr {
		border: 0;
		border-bottom: 1px solid $blue;
	}

	a {
		color: $darkblue;
		text-decoration: none;

		&:hover {
			color: #fff;
			background: $darkblue;
			text-shadow: 0 0 0;
		}
	}

	#container {
		width: 960px;
		margin: 20px auto;
		background: #fff;
		color: $grey;
		padding: 20px;
		box-shadow: 0 5px 30px -15px;
	}
}