@import 'reset';
@import 'colors';
@import 'fonts';
@import 'buttons';
@import 'chromeapp';

body {
	background: $not-white;
	font-family: 'latoregular', sans;
	font-size: 1.2em;

	margin: 0 auto;
	width: 100%;

	&:not(.chromeapp) {
		width: 960px;
		box-shadow: 0px 0px 10px 2px $purple;
	}

	hr {
		border: 0;
		border-bottom: 1px solid $blue;
	}

	a {
		color: $darkblue;
		text-decoration: none;

		&:hover {
			color: #fff;
			background: $darkblue;
			text-shadow: 0 0 0;
		}
	}

	input,
	select,
	textarea {
		color: $grey;
		font-size: 1em;
		font-family: 'latoregular', sans;
	}

	#header {
		width: 100%;
		height: 2em;
		background: #fff;
		border-bottom: 1px solid $blue;
	}

	#container {
		width: calc(100% - 1.95em);
		margin: 0 auto;
		background: #fff;
		color: $grey;
		padding: 1em;
		box-shadow: 0 5px 30px -15px;
	}

	&[data-page=login] {
		form {
			width: 80%;
			margin: 0 auto;
		}

		input {
			width: calc(100% - 2em);
			height: 40px;
			margin: 0 auto;
			clear: both;
			display: block;
			margin-bottom: 1em;
			padding: 0 1em;

			&.error {
				border: 1px solid #f00;
			}
		}
	}
}