@import 'reset';
@import 'colors';
@import 'fonts';
@import 'buttons';
@import 'components';
@import 'pages/index';
@import 'chromeapp';

body {
	background: $not-white;
	font-family: 'LatoLatinLight', sans;
	font-size: 1.2em;

	margin: 0 auto;
	width: 100%;

	&:not(.chromeapp) {
		width: 960px;
	}

	hr {
		border: 0;
		border-bottom: 1px solid $blue;
	}

	a {
		color: $darkblue;
		text-decoration: none;

		&:hover {
			color: #fff;
			background: $darkblue;
			text-shadow: 0 0 0;
		}
	}

	li {
		list-style-type: none;
		padding: 0.5em 2em;
		background-color: #fff;
		color: $grey;
		margin: 0 0 0.2em;
		box-shadow: 2px 2px 3px $lightgrey;
		border-right: 1px solid $blue;
		border-bottom: 1px solid $blue;

		-webkit-transition: all 0.25s;
		   -moz-transition: all 0.25s;
			 -o-transition: all 0.25s;
				transition: all 0.25s;

		&:hover {
			background: $blue;
			color: #fff;

			&:before {
				color: #fff;
			}
		}

		&.is-button {
			cursor: pointer;
		}
	}

	input,
	select,
	textarea {
		color: $grey;
		font-size: 1em;
		font-family: 'LatoLatinLight', sans;
	}
}