$font-path: '../fonts';

/* Webfont: LatoLatin-Regular */
@font-face {
    font-family: 'LatoLatin';
    src: url('#{$font-path}/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path}/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path}/LatoLatin-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatinLight-Regular */
@font-face {
    font-family: 'LatoLatinLight';
    src: url('#{$font-path}/LatoLatinLight-Regular.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path}/LatoLatinLight-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path}/LatoLatinLight-Regular.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path}/LatoLatinLight-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
